<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
<link rel="canonical" href="{{ .Permalink }}">
{{- with or .Description .Summary }}
<meta name="description" content="{{ . | plainify | truncate 200 }}">
{{- end }}
{{ partial "opengraph.html" . }}
{{- with .OutputFormats.Get "rss" }}
<link rel="alternate" type="application/rss+xml" href="{{ .Permalink }}" title="{{ printf "%s | %s" $.Title site.Title }}">
{{- end }}
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
